<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        {{#each restaurant}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <a href="/restaurants/{{ this._id }}"><span class="badge badge-primary">Detail</span></a>
              <a href="/restaurants/{{ this._id }}/edit"><span class="badge badge-success">Edit</span></a>
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <span class="badge badge-danger"><button type="submit">Delete</button></button></span>
              </form>
            </div>
          </div>
        </a>
        {{/each}}

      </div>
    </div>
  </div>
</div>